<div class="content-header-left col-md-6 col-12 mb-2">
  <h3 class="content-header-title mb-0">Docentes</h3>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Directorio
        </li>

        <li class="breadcrumb-item active">
          Docentes
        </li>
      </ol>
    </div>
  </div>
</div>

<button class="btn btn-outline-secondary mr-1 ft-plus" type="button" placement="top" ngbTooltip="Agregar" (click)="editMode=false; openModal(content, null)"></button>
<button class="btn btn-outline-secondary mr-1 ft-refresh-ccw" type="button" placement="top" ngbTooltip="Recargar" (click)="retrieveData()"></button>

<div class="row mt-2">
  <div class="col-xl-4 col-md-6 col-12" *ngFor="let number of [0, 1, 2, 3, 4]">
    <div class="card profile-card-with-cover">
      <!--<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/18.jpg" alt="Card cover image">-->
      <div class="card-img-top img-fluid bg-cover height-200" style="background: url('/assets/img/18.jpg');"></div>
      <div class="card-profile-image">
        <img src="/assets/img/avatar-s-4.png" class="rounded-circle img-border box-shadow-1"
             alt="Card image">
      </div>
      <div class="profile-card-with-cover-content text-center">
        <div class="card-body">
          <h4 class="card-title">Nombre Apellido</h4>
          <ul class="list-inline">
            <li>docente@utec.com.sv</li>
          </ul>
          <h6 class="card-subtitle text-muted">Ingeniero</h6>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook">
            <span class="fa fa-google-plus"></span>
          </a>
<!--          <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter">-->
<!--            <span class="fa fa-twitter"></span>-->
<!--          </a>-->
          <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin">
            <span class="fa fa-linkedin font-medium-4"></span>
          </a>
<!--          <a href="#" class="btn btn-social-icon mb-1 btn-outline-github">-->
<!--            <span class="fa fa-github font-medium-4"></span>-->
<!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="editMode == false" class="modal-title">Registrar un Docente</h4>
    <h4 *ngIf="editMode == true" class="modal-title">Editar un Docente </h4>
    <!-- <h4 *ngIf="newTitle" class="modal-title">Nuevo modulo</h4> -->
    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="">
      <div class="form-group">
        <label for="">Nombre </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Apellido </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Especialidad </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Email primario </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Email secundario </label>
        <input type="text" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary fa fa-times" (click)="c('Close click')" ngbTooltip="Cerrar"></button>
    <button type="button" *ngIf="editMode == false" class="btn btn-outline-secondary ft-file-plus mr-1" ngbTooltip="Crear" (click)="postData(); c('Close click')" ></button>
    <button type="button" *ngIf="editMode == true" class="btn btn-outline-secondary ft-save mr-1" ngbTooltip="Actualizar" (click)="patchData(); c('Close click')" ></button>
  </div>
</ng-template>
