<div class="content-header-left col-md-6 col-12 mb-2">
  <h3 class="content-header-title mb-0">Docentes</h3>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Directorio
        </li>

        <li class="breadcrumb-item active">
          Docentes
        </li>
      </ol>
    </div>
  </div>
</div>

<button class="btn btn-outline-secondary mr-1 ft-plus" type="button" placement="top" ngbTooltip="Agregar" (click)="editMode=false; openModal(content, null)"></button>
<button class="btn btn-outline-secondary mr-1 ft-refresh-ccw" type="button" placement="top" ngbTooltip="Recargar" (click)="retrieveData()"></button>

<div class="row mt-2">
  <div class="col-xl-4 col-md-6 col-12" *ngFor="let docente of docentes | paginate: config">
    <div class="card profile-card-with-cover">
      <!--<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/18.jpg" alt="Card cover image">-->
      <div class="card-img-top img-fluid bg-cover height-200" style="background: url('/assets/img/deco.png');"></div>
      <div class="card-profile-image">
        <img src="/assets/img/avatar-s-4.png" class="rounded-circle img-border box-shadow-1"
             alt="Card image">
      </div>
      <div class="profile-card-with-cover-content text-center">
        <div class="card-body">
          <h4 class="card-title"> {{ docente.nombre }}  {{ docente.apellido }} </h4>
          <ul class="list-inline">
            <li> {{ docente.email }} </li>
          </ul>
          <br>
          <h6 class="card-subtitle text-muted">
            <span *ngFor="let especialidad of docente.especialidades">
              {{ especialidad.nombre }}, &nbsp;
            </span>
          </h6>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-primary btn-md mr-1" routerLink="/admin/docentes/perfil/{{ docente.id }}">
            <i class="ft-user" ></i> Perfil
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="pageChanged($event)" [nextLabel]="'Siguiente'" [previousLabel]="'Anterior'" id="directorioDocentes"></pagination-controls>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="editMode == false" class="modal-title">Registrar un Docente</h4>
    <h4 *ngIf="editMode == true" class="modal-title">Editar un Docente </h4>
    <!-- <h4 *ngIf="newTitle" class="modal-title">Nuevo modulo</h4> -->
    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="paintError(frm, 'name')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="name" [dataValidation]="permissions"></input-error-messages>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email" [ngClass]="paintError(frm, 'email')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="email" [dataValidation]="permissions"></input-error-messages>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname">Apellido:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" [ngClass]="paintError(frm, 'lastname')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="lastname" [dataValidation]="permissions"></input-error-messages>
          </div>
          <div class="form-group">
            <label for="name">Telefono:</label>
            <input type="text" class="form-control" id="phone" name="phone" appOnlynumber="true" formControlName="phone" [ngClass]="paintError(frm, 'phone')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="phone" [dataValidation]="permissions"></input-error-messages>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="name">Oficina:</label>
        <input type="text" class="form-control" id="office" name="phone" formControlName="office" [ngClass]="paintError(frm, 'office')" autocomplete="off">
        <input-error-messages [frmName]="frm" ipName="office" [dataValidation]="permissions"></input-error-messages>
      </div>

      <div class="form-group">
        <label for="speciality">Especialidad: </label>
        <ng-select
          [items]="especialidades"
          [multiple]="true"
          [closeOnSelect]="true"
          bindLabel="nombre"
          placeholder="Seleccione las materias"
          name="speciality"
          id="speciality"
          formControlName="speciality">
        </ng-select>
        <input-error-messages [frmName]="frm" ipName="speciality" [dataValidation]="permissions"></input-error-messages>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary fa fa-times" (click)="c('Close click')" ngbTooltip="Cerrar"></button>
    <button type="button" *ngIf="editMode == false" class="btn btn-outline-secondary ft-file-plus mr-1" ngbTooltip="Crear" [disabled]="frm.invalid"  (click)="postData(); c('Close click')" ></button>
    <button type="button" *ngIf="editMode == true" class="btn btn-outline-secondary ft-save mr-1" ngbTooltip="Actualizar" [disabled]="frm.invalid"  (click)="patchData(); c('Close click')" ></button>
  </div>
</ng-template>
