<div class="content-header-left col-md-6 col-12 mb-2">
  <h3 class="content-header-title mb-0">Usuarios</h3>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Configuraciones
        </li>

        <li class="breadcrumb-item active">
          Usuarios
        </li>
      </ol>
    </div>
  </div>
</div>


<div class="content-body">
  <section class="row">
    <div class="col-sm-12">

      <div id="kick-start" class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
          <div>
            <button class="btn btn-outline-secondary mr-1 ft-plus" type="button" placement="top" ngbTooltip="Agregar" (click)="editMode=false; openModal(content, null)"></button>
            <button class="btn btn-outline-secondary mr-1 ft-refresh-ccw" type="button" placement="top" ngbTooltip="Recargar" (click)="retrieveData()"></button>
            <!--            <button class="btn btn-outline-secondary mr-1 ft-upload" type="button" placement="top" ngbTooltip="Carga masiva"></button>-->
          </div>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>

        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <div class="card-text">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="ft-search"></i>
                      </span>
                </div>
                <input type="text" class="form-control" placeholder="Busque en la tabla" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]='filterValue'>

              </div>
              <ngx-datatable class='material'
                             [columnMode]="'force'"
                             [headerHeight]="50"
                             [footerHeight]="50"
                             [limit]="limit"
                             [rowHeight]="'auto'"

                             [rows]='rows'>
                <ngx-datatable-column name="Usuario" [width]="50" prop="username"></ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha de creacion" [width]="55" prop="created_at"></ngx-datatable-column>
                <ngx-datatable-column name="Estado" prop="" [width]="45">
                  <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                    <span class="badge badge-pill badge-success text-white ml-1" *ngIf="row.is_enabled === '1'" >Habilitado</span>
                    <span class="badge badge-pill badge-primary text-white ml-1" *ngIf="row.is_enabled === '0'">Desabilitado</span>

                    <span class="badge badge-pill badge-success text-white ml-1" *ngIf="row.is_activated === '1'">Activo</span>
                    <span class="badge badge-pill badge-secondary text-white ml-1" *ngIf="row.is_activated === '0'" >Inactivo</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Rol" prop="rol" [width]="15">
                  <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                    {{ row.rol.nombre }}
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="editMode == false" class="modal-title">Registrar un usuario</h4>
    <h4 *ngIf="editMode == true" class="modal-title">Modificsr un usuario </h4>
    <!-- <h4 *ngIf="newTitle" class="modal-title">Nuevo modulo</h4> -->
    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="paintError(frm, 'name')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="name" [dataValidation]="permissions"></input-error-messages>
          </div>
        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label for="lastname">Apellido:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" [ngClass]="paintError(frm, 'lastname')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="lastname" [dataValidation]="permissions"></input-error-messages>
          </div>
        </div>
        <div class="col-md-12">

          <div class="form-group">
            <label for="email">Email:</label>
            <div class="input-group">

              <input type="text" class="form-control" id="email" name="email" formControlName="email" [ngClass]="paintError(frm, 'email')" autocomplete="off">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">{{ data.docente_email_prefix }}</span>
              </div>
            </div>
            <input-error-messages [frmName]="frm" ipName="email" [dataValidation]="permissions"></input-error-messages>
          </div>

          <div class="form-group">
            <label for="name">Telefono:</label>
            <input type="text" class="form-control" id="phone" name="phone" appOnlynumber="true" formControlName="phone" [ngClass]="paintError(frm, 'phone')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="phone" [dataValidation]="permissions"></input-error-messages>
          </div>
        </div>
        <div class="col-md-12">

          <div class="form-group">
            <label for="role">Rol: </label>
            <ng-select
              [items]="roles"
              [multiple]="false"
              [closeOnSelect]="true"
              bindLabel="nombre"
              placeholder="Seleccione el rol"
              name="role"
              id="role"
              formControlName="role">
            </ng-select>
            <input-error-messages [frmName]="frm" ipName="role" [dataValidation]="permissions"></input-error-messages>
          </div>

          <div class="form-group">
            <label for="name">Oficina:</label>
            <input type="text" class="form-control" id="office" name="phone" formControlName="office" [ngClass]="paintError(frm, 'office')" autocomplete="off">
            <input-error-messages [frmName]="frm" ipName="office" [dataValidation]="permissions"></input-error-messages>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary fa fa-times" (click)="c('Close click')" ngbTooltip="Cerrar"></button>
    <button type="button" *ngIf="editMode == false" class="btn btn-outline-secondary ft-file-plus mr-1" ngbTooltip="Crear" [disabled]="frm.invalid"  (click)="postData(c);" ></button>
    <button type="button" *ngIf="editMode == true" class="btn btn-outline-secondary ft-save mr-1" ngbTooltip="Actualizar" [disabled]="frm.invalid"  (click)="patchData(); c('Close click')" ></button>
  </div>
</ng-template>
