<div class="content-header-left col-md-6 col-12 mb-2">
  <h3 class="content-header-title mb-0">Instructoria</h3>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Instructor
        </li>

        <li class="breadcrumb-item active">
          Instructoria
        </li>
      </ol>
    </div>
  </div>
</div>

<section id="card-headings">
  <div class="row">
    <div class="col-md-6 col-sm-12" >
      <div class="card">
        <div class="card-header" id="heading-linksc">
          <h4 class="card-title">Instructoria</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="card-body">
          <div *ngIf="row.instructoria.length > 0">
            <h4 class="card-title"></h4>
            <p> <b>Nombre</b>: {{ row.instructoria[0].nombre }}</p>
            <p> <b>Ciclo</b>: {{ row.instructoria[0].ciclo.nombre }}</p>
            <p> <b>Aula</b>: {{ row.instructoria[0].aula.codigo }}</p>
            <p> <b>Docente</b> :
              <span>  <b>Nombre</b> : {{ row.instructoria[0].docente.nombre }}</span> &nbsp;
              <span> <b>Apellido</b>: {{ row.instructoria[0].docente.apellido }} </span>
            </p>
            <p> <b>Materia</b> : {{ row.instructoria[0].materia.nombre }}</p>
            <p> <b>Horario</b> : <span  class="badge badge-pill badge-secondary text-light ml-1 mb-1"> {{ row.instructoria[0].horario.nombre_dia }} {{ row.instructoria[0].horario.fin }} - {{ row.instructoria[0].horario.fin }}  </span></p>

          </div>
          <div>
            <div class="alert alert-warning" role="alert" *ngIf="row.instructoria.length === 0">
              Por el momento no tiene asignada una instructoria.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
