<div class="content-body">
  <section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class=" box-shadow-1 p-0">
        <div class="card border-grey border-lighten-3 m-0">
          <div class="card-header border-0">
            <div class="card-title text-center">
              <div class="p-1">
                <img src="/assets/img/brand.png" alt="Logo Utec" height="100px" >
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form class="form-horizontal form-simple" action="index.html" novalidate>
                <fieldset class="form-group position-relative has-icon-left mb-2">
                  <input type="text" class="form-control form-control-lg" id="user-name" placeholder="Nombre de usuario"
                  required>
                  <div class="form-control-position">
                    <i class="ft-user"></i>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="password" class="form-control form-control-lg" id="user-password" placeholder=" Contrase&ntilde;a"
                  required>
                  <div class="form-control-position">
                    <i class="fa fa-key"></i>
                  </div>
                </fieldset>
                <div class="form-group row">


                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Iniciar sesi&oacute;n</button>
              </form>
            </div>
          </div>
          <div class="card-footer">
            <!--
              <div class="">
              <p class="float-sm-left text-center m-0"><a href="recover-password.html" class="card-link">Recover password</a></p>
              <p class="float-sm-right text-center m-0">New to Stack? <a href="register-simple.html" class="card-link">Sign Up</a></p>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
