<div class="content-header-left col-md-6 col-12 mb-2">
  <h3 class="content-header-title mb-0">Instructores</h3>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Catalogo
        </li>

        <li class="breadcrumb-item active">
          Instructores
        </li>
      </ol>
    </div>
  </div>
</div>

<button class="btn btn-outline-secondary mr-1 ft-plus" type="button" placement="top" ngbTooltip="Agregar" (click)="editMode=false; openModal(content, null);"></button>
<button class="btn btn-outline-secondary mr-1 ft-refresh-ccw" type="button" placement="top" ngbTooltip="Recargar" (click)="retrieve()"></button>
<div class="row mt-2">
  <div class="col-xl-4 col-md-6 col-12" *ngFor="let instructor of instructores">
    <div class="card profile-card-with-stats">
      <div class="text-center">
        <div class="card-body">
          <img src="/assets/img/product-preview.png" class="  height-150"
               alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title"> {{ instructor.nombre }} </h4>
          <ul class="list-inline">
            <li>{{ instructor.carnet }}@mail.utec.edu.sv</li>
          </ul>
<!--          <h6 class="card-subtitle text-muted">Instructor</h6>-->
          <p>CUM: {{ instructor.cum }}</p>
          <p>Capacitaciones: {{ instructor.capacitaciones.length }} </p>
        </div>
        <div class="card-body">

          <button type="button" class="btn btn-outline-danger btn-md mr-1" (click)="selectForAssign(instructor)" [disabled]="instructor.is_selected === '1'">
            <i class="fa fa-plus"></i> Seleccionar
          </button>
          <button type="button" class="btn btn-outline-primary btn-md mr-1" routerLink="/admin/instructores/perfil/{{ instructor.id }}">
            <i class="ft-user" ></i> Perfil
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="editMode == false" class="modal-title">Registrar un instructor</h4>
    <h4 *ngIf="editMode == true" class="modal-title">Editar un instructor </h4>
    <!-- <h4 *ngIf="newTitle" class="modal-title">Nuevo modulo</h4> -->
    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frm">
      <div class="form-group">
        <label for="carnet">Carnet:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="carnet" name="carnet" formControlName="carnet" [ngClass]="paintError(frm, 'carnet')" autocomplete="off" mask="00-0000-0000">
          <div class="input-group-append">
            <button class="btn btn-primary ft-search" (click)="retrieceExpediente()"  [disabled]="frm.get('carnet').value.toString().length !== 10"></button>
          </div>
        </div>
        <input-error-messages [frmName]="frm" ipName="carnet" [dataValidation]="permissions"></input-error-messages>
      </div>


      <div class="form-group">
        <label for="nombre">Nombre Completo:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" [ngClass]="paintError(frm, 'nombre')">
        <input-error-messages [frmName]="frm" ipName="nombre" [dataValidation]="permissions"></input-error-messages>
      </div>

      <div class="form-group">
        <label for="carrera">Carrera:</label>
        <input type="text" class="form-control" id="carrera" name="carrera" formControlName="carrera" [ngClass]="paintError(frm, 'carrera')">
        <input-error-messages [frmName]="frm" ipName="carrera" [dataValidation]="permissions"></input-error-messages>
      </div>

      <div class="form-group">
        <label for="cum">CUM:</label>
        <input type="text" class="form-control" id="cum" name="cum" formControlName="cum" [ngClass]="paintError(frm, 'cum')">
        <input-error-messages [frmName]="frm" ipName="cum" [dataValidation]="permissions"></input-error-messages>
      </div>

      <div class="form-group">
        <label for="phone">Telefono:</label>
        <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" [ngClass]="paintError(frm, 'phone')" autocomplete="off">
        <input-error-messages [frmName]="frm" ipName="phone" [dataValidation]="permissions"></input-error-messages>
      </div>

      <div class="form-group">
        <label for="personalEmail">Email personal:</label>
        <input type="text" class="form-control" id="personalEmail" name="personalEmail" formControlName="personalEmail" [ngClass]="paintError(frm, 'personalEmail')" autocomplete="off">
        <input-error-messages [frmName]="frm" ipName="personalEmail" [dataValidation]="permissions"></input-error-messages>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary fa fa-times" (click)="c('Close click')" ngbTooltip="Cerrar"></button>
    <button type="button" *ngIf="editMode == false" class="btn btn-outline-secondary ft-file-plus mr-1" ngbTooltip="Crear" (click)="postData(); c('Close click')" [disabled]="frm.invalid"></button>
    <button type="button" *ngIf="editMode == true" class="btn btn-outline-secondary ft-save mr-1" ngbTooltip="Actualizar" (click)="patchData(); c('Close click')" [disabled]="frm.invalid"></button>
  </div>
</ng-template>


<ng-template #deletion let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Borrar un registro </h4>

    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-center align-self-center">
        <i class="ft-alert-triangle text-danger" style="font-size:3em;"></i>
      </div>
      <div class="col-sm-8">
        <h3>
          Esta seguro de que quiere borrar el registro?
        </h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary fa fa-times" (click)="c('Close click')" ngbTooltip="Cerrar"></button>
  </div>
</ng-template>


<!--<ngb-tabset>-->
<!--  <ngb-tab title="Sin asignar">-->
<!--    <ng-template ngbTabContent>-->

<!--    </ng-template>-->
<!--  </ngb-tab>-->
<!--  <ngb-tab title="Asignados">-->
<!--    <ng-template ngbTabContent>-->

<!--    </ng-template>-->
<!--  </ngb-tab>-->
<!--</ngb-tabset>-->

<app-cart></app-cart>
