<div class="content-header-left col-md-6 col-12 mb-2">
  <h3 class="content-header-title mb-0">Cambio de credenciales</h3>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Ajustes
        </li>

        <li class="breadcrumb-item active">
          Cambio de credenciales
        </li>
      </ol>
    </div>
  </div>
</div>


<div class="col-md-6 col-sm-12">
  <div class="card">
    <div class="card-header" id="heading-linksa">
      <h4 class="card-title">Cambiar credenciales</h4>
      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
    </div>
    <div class="card-body">
      <h4 class="card-title"></h4>
      <form [formGroup]="frm">
        <div class="form-group hidden">
          <label for="email">Email personal:</label>
          <input type="email" id="email" name="email" autocomplete="username" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label for="oldPassword">Contrase&ntilde;a anterior:</label>
          <input type="password" id="oldPassword" name="oldPassword" class="form-control" formControlName="oldPassword" autocomplete="current-password">
        </div>

        <div class="form-group">
          <label for="password">Contrase&ntilde;a nueva:</label>
          <input type="password" id="password" name="password" class="form-control" formControlName="password" autocomplete="password">
          <password-strength-meter [password]="frm.get('password').value"></password-strength-meter>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="changeCredentials()" [disabled]="frm.invalid">
          <i class="ft-unlock"></i> Cambiar credenciales
        </button>
      </form>
    </div>
  </div>
</div>
